## Bài 1: reversed list
Hãy viết một chương trình để đảo ngược các phần tử trong list

In [ ]:
aList = [100, 200, 300, 400, 500]

**Output:**

In [ ]:
[500, 400, 300, 200, 100]

In [2]:
aList = [100, 200, 300, 400, 500]
# code below this line
a = [100, 200, 300, 400, 500]
b = a[::-1]
print(b)
# code above this line

aList.reverse()
print(aList)

[500, 400, 300, 200, 100]
[500, 400, 300, 200, 100]

In [5]:
aList = [100, 200, 300, 400, 500]
#for loop method
for index in range(len(aList)-1, -1, -1):
    print(aList[index], end = ',')

500,400,300,200,100,

## Bài 2: concatenation
Hãy tạo ra một list mới bằng cách cộng các phần tử tương ứng của list cũ theo index tương ứng

In [ ]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

**Output:**

In [ ]:
['My', 'name', 'is', 'Kelly']

In [6]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

result = []
if len(list1) == len(list2):
    for i in range(len(list1)):
        result.append(list1[i] + list2[i])
else:
    print("List have different lengths.")

print(result)

['My', 'name', 'is', 'Kelly']

## Bài 3: squared list
Cho sẵn một list chứa các số tự nhiên. Bình phương các phần tử trong list và lưu vào một list mới.

In [7]:
aList = [1, 2, 3, 4, 5, 6, 7]

binh_phuong = list(map(lambda x: x**2, aList))
print(binh_phuong)

[1, 4, 9, 16, 25, 36, 49]

**Output**

## Bài 4: concatenation 2
Tạo ra một list mới từ 2 list ban đầu theo thứ tự như sau:

In [ ]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

**Output**

In [ ]:
['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [15]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

new_list = []
for i1 in list1:
    for i2 in list2:
        new_list.append(i1 + i2)
print(new_list)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

## Bài 5: print list
Cho 2 list có cùng số phần tử với nhau. Hãy in các thành phần trong 2 list theo format dưới đây:

In [ ]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

**Output**

In [ ]:
10 400
20 300
30 200
40 100

In [24]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

result = []
for i in range(len(list1)):
    result.append(list1[i])
    result.append(list2[-i-1])
print(result)

[10, 400, 20, 300, 30, 200, 40, 100]

In [28]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for index in range(len(list1)):
    print(f'{list1[index]} {list2[-index-1]} ')

10 400
20 300
30 200
40 100

In [31]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
list2.reverse()
for item1, item2 in zip(list1, list2):
    print(f"{item1} {item2}")

10 400
20 300
30 200
40 100

## Bài 6: remove empty
Hãy xóa tất cả empty string trong list đã cho.

In [ ]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

**Output**

In [ ]:
["Mike", "Emma", "Kelly", "Brad"]

In [12]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad", "", ""]
# code below this line
while "" in list1:
    list1.remove("")
print(list1)
# code above this line

['Mike', 'Emma', 'Kelly', 'Brad']

## Bài 7: list replacement
Hãy tìm và thay thế số 20 **đầu tiên** trong list thành 200.

In [ ]:
list1 = [5, 10, 15, 20, 25, 50, 20]

**Output**

In [ ]:
[5, 10, 15, 200, 25, 50, 20]

In [14]:
list1 = [5, 10, 15, 20, 25, 50, 20]
# code below this line
for i in range(len(list1)):
    if list1[i] == 20:
        list1[i] = 200
        break

print(list1)
# code above this line

[5, 10, 15, 200, 25, 50, 20]

## Bài 8: list removement
Hãy xóa bỏ **tất cả** số 20 ra khỏi list

In [ ]:
list1 = [5, 20, 15, 20, 25, 50, 20]

**Output:**

In [ ]:
[5, 15, 25, 50]

In [6]:
list1 = [5, 20, 15, 20, 25, 50, 20]
# code below this line

# code above this line