In [9]:
"""
Warm-up 1: Cho một danh sách sản phẩm như sau:
products = {
    'SMART WATCH': 550,
    'PHONE' : 1000,
    'PLAYSTATION': 500,
    'LAPTOP' : 1550,
    'MUSIC PLAYER' : 600,
    'TABLET' : 400 
}
Viết chương trình hiển thị các sản phẩm có giá bé hơn hoặc bằng so với giá tiền mà người dùng nhập
"""
expected_price = int(input("Please input expected price: "))

products = {
    'SMART WATCH': 550,
    'PHONE' : 1000,
    'PLAYSTATION': 500,
    'LAPTOP' : 1550,
    'MUSIC PLAYER' : 600,
    'TABLET' : 400 
}

for product, price in products.items():
    if price <= expected_price:
        print(product)

Please input expected price: 1000
SMART WATCH
PHONE
PLAYSTATION
MUSIC PLAYER
TABLET

In [ ]:
"""
Warm-up 2: 
"""

## Bài 1: list to dict
Cho 2 list có cùng số phần tử với nhau. Hãy tạo ra một dict từ 2 list đã cho theo format dưới đây:

**Input**

In [ ]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

**Output**

In [ ]:
{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

**Your code**

In [10]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
# code below this line
result = {}
for i in range(len(keys)):
    result[keys[i]] = values[i]

print(result)
# code above this line

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

## Bài 2: merge dictionary
Hãy gộp 2 dictionary sau đây thành một.

**Input**

In [ ]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

**Output**

In [ ]:
{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

**Your code**

In [11]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
# code below this line
dict1.update(dict2)
print(dict1)
# code above this line

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

## Bài 3: where is the value?
Hãy in ra giá trị của "history" trong dictionary dưới đây.

**Input**

In [ ]:
sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

**Output**

In [ ]:
80

**Your code**

In [12]:
sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}
# code below this line
print(sampleDict["class"]["student"]["marks"]["history"])
# code above this line

80

## Bài 4: Delete set of keys from a dictionary
Hãy xóa các key có trong set dưới đây ra khỏi dictionary.

**Input**

In [ ]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}
keysToRemove = {"name", "salary"}

**Output:**

In [ ]:
{'city': 'New york', 'age': 25}

**Your code**

In [13]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}
keysToRemove = {"name", "salary"}
# code below this line
for key in keysToRemove:
    del sampleDict[key]
    
print(sampleDict)
# code above this line

{'age': 25, 'city': 'New york'}

## Bài 5: Check if a value 200 exists in a dictionary
Hãy kiểm tra xem số 200 có phải là value của dictionary dưới đây không nhé.

**Input**

In [ ]:
sampleDict = {'a': 100, 'b': 200, 'c': 300}

**Output**

In [ ]:
True

**Your code**

In [2]:
sampleDict = {'a': 100, 'b': 200, 'c': 300}
print(200 in sampleDict.values())

True

## Bài 6: rename key
Hãy thay thế key `city` thành `location` trong dictionary dưới đây.

**Input**

In [ ]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

**Output**

In [ ]:
{
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "location": "New york"
}

**Your code**

In [3]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
# code below this line
sampleDict["location"] = sampleDict["city"]
del sampleDict["city"]
print(sampleDict)
# code above this line

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

## Bài 7: key of minimum value
Hãy in ra key chứa value nhỏ nhất trong dictionary dưới đây.

**Input**

In [ ]:
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

**Output**

In [ ]:
Math

**Your code**

In [9]:
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'History': 75,
  'Science': 65
}

# 1. Find min score
min_value = min(sampleDict.values())
print(min_value)

# 2. Find subject with min_score
for key, value in sampleDict.items():
    if value == min_value:
        print(key)

65
Math
Science

In [10]:
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'History': 75,
  'Science': 65
}

min_value = min(sampleDict.values())
for key in sampleDict.keys():
    if sampleDict[key] == min_value:
        print(key)

Math
Science

## Bài 8: new salary
Hãy tăng lương(`salary`) cho Brad từ 6500 lên 8500 trong dictionary dưới đây nhé.

**Input**

In [ ]:
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}

**Output**

In [ ]:
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 8500}
}

**Your code**

In [11]:
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}
for key, value in sampleDict.items():
    if value['name'] == 'Brad':
        sampleDict[key]['salary'] == 8000

print(sampleDict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 6500}}

# Bài 9: Tính điểm chuẩn của một ngành
Cho điểm thi của một ngành thuộc một trường đại học như sau
```
marks = [
 20, 21, 20, 21, 22, 23, 20,
 17, 16, 15, 20, 21, 23, 21,
 20, 21, 24, 27, 20, 28, 26,
 25, 24, 23, 23, 20, 21, 24,
 22, 14, 13, 12, 14, 15
```

Số lượng sinh viên cần lấy là: qty = 10


Hãy xác định điểm chuẩn sao cho tỉ lệ lấy không được vượt quá tối đa 110%qty = 10

In [13]:
marks = [
 20, 21, 20, 21, 22, 23, 20,
 17, 16, 15, 20, 21, 23, 21,
 20, 21, 24, 27, 20, 28, 26,
 25, 24, 23, 23, 20, 21, 24,
 22, 14, 13, 12, 14, 15
]

marks.sort(reverse= True)
print(marks)

statistic = {}

for item in marks:
    statistic[item] = marks.count(item)

print(statistic)

[28, 27, 26, 25, 24, 24, 24, 23, 23, 23, 23, 22, 22, 21, 21, 21, 21, 21, 21, 20, 20, 20, 20, 20, 20, 20, 17, 16, 15, 15, 14, 14, 13, 12]
{28: 1, 27: 1, 26: 1, 25: 1, 24: 3, 23: 4, 22: 2, 21: 6, 20: 7, 17: 1, 16: 1, 15: 2, 14: 2, 13: 1, 12: 1}